/* ===== STYLE DU BODY =====*/
body{
	margin:0;
	padding:0;
	background:#fff;
    
}




/* Style de Box de la Page*/
.banner{
	position: relative;
	height:100vh;
	width:100%;
	color:#fff;
}

/* ===Style Box Titre=== */
.boxtitre{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%,-50%);
    width: 80%;
}

/* tyle Box Titre et Sous Titre */
.boxtitre span{
    color: white;
    text-transform: uppercase;
    display: block;
}

/* Style Text Titre */
.text1{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text 3s 1;
}

/* Style Text Titre */
.text2{
    font-size: 30px;
    animation: text 2s 1;
    margin-top: 30px
}

/* Style Annimation Titre et Sous Titre */
@keyframes text{
    0%{
        color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}



/* Page Parralax Image */
.sec1,.sec3,.sec5,.sec7{
	position: relative;
	height:20vh;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size:48px;
	font-family: 'poppins',sans-serif;
	font-weight:600;
    background: black;
    color:#fff;
    border-bottom: 8px #FFFE00 solid;
    border-top: 8px #FFFE00 solid;
    text-transform: uppercase;
}
/* Page de Texte */
.sec2,.sec4,.sec6,.sec8{
	position: relative;
	height:100vh;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size:48px;
	font-family: 'poppins',sans-serif;
	font-weight:600;
	text-transform: uppercase;
	color:#fff;
}





/* === STYLE DU PARRALAX ===*/
/* Parralax Paramettre */
.sec2{
	background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('./img/2.jpg');
	background-size:cover;
	background-position:center;

}
.sec4{
	background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('./img/3.jpg');
	background-size:cover;
	background-position:center;

}
.sec6{
	background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('./img/4.jpg');
	background-size:cover;
	background-position:center;

}

.sec8{
	background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('./img/1.jpg');
	background-size:cover;
	background-position:center;

}


.parallax{
    background-attachment: fixed; 
}





/* ===Style Barre de Navigation=== */
/* Style de Box Barre de Navigation */
.navbar{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

/* Style Decoration Barre de Navigation */
.nav-link{
    border-bottom: 2px black solid;
}

/* Style Decoration Barre de Navigation Si Souris Dessus */
.nav-link:hover{
    border-bottom: 2px rgb(255, 255, 255) solid;
}

/* Style Texte Barre de Navigation */
a{
    text-decoration: none;
    color: white;
}


/* ===Style Video En Page 1=== */
.banner1{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}




/*Taille du fond*/
::-webkit-scrollbar{
  width: 12px;
}

/*Couleur du fond*/
::-webkit-scrollbar-track{
  border: 2px solid #000000;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

/*Couleur de la barre*/
::-webkit-scrollbar-thumb{
  background: linear-gradient(45deg, yellow, black);
}

::-webkit-scrollbar-button{
  background-color: rgb(0, 0, 0);
}


